@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$basecolor: #a7ffe8;
$baseBgColor: rgb(32, 36, 48);

html {
    scroll-behavior: smooth;
}
a {
    color: black;
}

.fa,
a.fa {
    color: $basecolor;
}

.btn-secondary,
a.btn-secondary {
    background: $basecolor !important;
    color: black;
}

body {
    background: $baseBgColor;
    color: black;
    font-size: 1.2rem;
}
header {
    height: 91vh;
    margin-top: 55px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    padding: 0 40px;
    font-weight: 600;
    background: $baseBgColor;
    z-index: 2;

    a {
        color: white;
    }

    .logo {
        font-size: 1.6rem;
        font-family: "Poppins", sans-serif;

        span {
            color: $basecolor;
        }
    }

    .navToggleBtn {
        display: none;
    }
}

.header {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;

    img {
        // border: 1px solid rgb(81, 84, 94);
        min-height: 400px;
        min-width: 100%;
    }

    p {
        color: rgb(197, 232, 231);
    }
}

section {
    padding: 20px 5px;
    padding-top: 50px;
    background: white;

    &:nth-child(odd) {
        background: rgb(69, 78, 104);
    }
}

#features {
    .fa {
        font-size: 70px;
    }

    .features-header {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
    }

    .feature-imgs .col-6 {
        height: 200px;
        margin: 0;
        padding: 0;
    }
}

#about-contact {
    p {
        color: rgb(197, 232, 231);
    }
    .contact-form {
        padding-bottom: 20px;

        form {
            margin: 0 15px;
        }
    }
}

#newsletter {
    .nl-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .nl-input {
            background: $baseBgColor;
            padding: 5px 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            input {
                border: none;
                outline: none;
                background: transparent;
                color: white;
            }
        }
    }
}

footer {
    .go-up {
        margin-right: 15px;
        padding: 3px 10px;
        border: 1px solid black;
        background: $basecolor;
        border-radius: 5px;
        .fa {
            color: black !important;
        }
    
        &:hover {
.fa {
transform: scale(1.2);
}
        }
    }

    .social-handle {
        margin-bottom: 50px;
        .fa {
            background: $basecolor;
            color: black !important;
            border-radius: 50%;
            padding: 10px;
        }
    }
}

.alert {
    display: none;
    position: fixed;
    top: 85vh;
    left: 0;
    width: 100%;
}


@media (max-width: 768px) {
    .navbar {
        display: none;
    }
    .navToggleBtn {
        display: block !important;
        font-size: 1.7rem;
    }
    .header {
        align-items: center;
    }
}
